//colors
$white: #ffffff;
$grey: #696969;
$grey-light: #f0f0f0;

//font
$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 14px;

$heading-font-family: "Source Sans Pro", sans-serif;
$h1-font-size: 22px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$huge-font-size: 40px;

//base-vars
$base-spacing: 8px;
$base-page-width: 1280px;
